.title {
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 1px;
}
.subtitle {
  font-size: 1.5em;
  font-weight: 600;
}
.legend {
  font-weight: 500;
  margin: 0.5em 0;
  flex: 0 0 100%;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.5em;
  font-size: 0.8em;
  opacity: 0.6;
}
.input,
.select {
  width: 100%;
  padding: 0.1em 0.5em;
  border: 1px solid $blue_light;
  border-radius: 0.3em;
  background-color: $bg;
  &:focus {
    border-color: $blue;
  }
}
